<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Student Advisor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    table {

      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
      background-color: #6699FF;
      color: white;
    }

    h1, h2{
      text-align: center;
    }
  </style>
</head>
</head>
<body>

  <h2>Advisor Details</h2>
  <br>
  <div class="container">
   <table>
    <tr>
      <th>Name</th>
      <th>Department Name</th>
      <th>Salary</th>
      <th>ID</th>
    </tr>

    <tr>
      <td><%=instructor.name%></td>
      <td><%=instructor.department_name%></td>
      <td>&#8369 <%=instructor.salary%></td>
      <td><%=instructor.id%></td>
    </tr>
   </table>
  </div>

</body>
</html>
